
.box-container {
    background-color: #fff;
    height: 60vh;
    width: 40vw;
    padding: 1.5rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.box-container h3 {
    font-family: DM Sans;
    font-size: 2rem;
    font-weight: 700;
    line-height: 32.55px;
    text-align: center;
    margin-bottom: 2rem;
}

.close-form-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    cursor: pointer;
}

.auth-form {
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label-input {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
}

.label-input label {
    font-family: DM Sans;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 26.04px;
    text-align: center;

}

.label-input input {
    border: 1px solid #000000;
    height: 2rem;
    padding: 5px;
    font-size: 1rem;
}

.auth-form button {
    width: 50%;
    height: 3rem;
    border: none;
    border-radius: 20px;
    font-family: DM Sans;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 13.02px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    
}

.login-btn {
    background-color: #73ABFF;
}
.register-btn {
    background-color: #FF7373;
}
.login-btn :hover {
    background-color: #3264b1;
}
.register-btn :hover {
    background-color: #bb3c3c;
}




@media screen and (max-width: 640px) {

    .box-container{
        width: 70vw;
        height: 78vh;
    }

    .auth-form {
        padding: 0;
    }

    .label-input{
        display: block;
        width: 100%;
    }


    .label-input input {
        width: 100%;
        height: 30px;
        border: 1px solid #000000;
        font-family: DM Sans;
        font-size: 1rem;
        font-weight: 700;
        line-height: 13.02px;
        padding: 5px;
        color: #444242;  
    }

    .auth-form button {
        width: 50%;
        height: 3rem;
        border: none;
        border-radius: 20px;
        font-family: DM Sans;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 13.02px;
        padding: 5px;
        color: #fff;
        
    }

    .login-btn {
        background-color: #73ABFF;
    }
    .register-btn {
        background-color: #FF7373;
    }
    .login-btn :hover {
        background-color: #3264b1;
    }
    .register-btn :hover {
        background-color: #bb3c3c;
    }


}