.story-card {
    height: 28rem;
    width: 17.5rem;
    margin: 2rem;
    border-radius: 0.5rem ;
    position: relative;
    transition: transform 0.3s ease;
}

.story-card:hover {
    transform: translateY(-5px);
  }

.story-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.story-card .edit-btn {
    position: absolute;
    width: 6rem;
    bottom: -1rem;
    right: 5rem;
    padding: 0.7rem;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 1rem;
    font-weight: bold;
}

.story-card .edit-btn i {
    font-size: 1.5rem;
}

.story-content {
    position: absolute;
    bottom: 1.5rem;
    padding: 1rem;
}

.story-content h3 {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 29px;
}

.story-content p {
    color: white;
    font-weight: 600;
}


@media screen and (max-width: 640px) {
    .story-card {
        width: 25rem;
        height: 48rem;
    }
    
    .story-card .edit-btn {
        right: 39%;
    }

    .story-content {
        bottom: 2.5rem;
    }
}

